<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codemao.share">
    <application>
        <provider
            android:name=".WeChatShareProvider"
            android:authorities="${applicationId}.wechatShare"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_wechat_share_provider_paths"
                tools:replace="name,resource" />
        </provider>
    </application>
</manifest>